<div class="y2">Top Users List</div>
<table id="topten" cellspacing="5" cellpadding="5" border="1">
	<tr>
		<td>
			User Name 
		</td>
		<td>
			Win Difference
		</td>
	</tr>
	<% @users.each do |user|%>
	<tr>
		<td>
			<%= user.name%>
		</td>
		<td>
			<%= user.diff%>
		</td>
	</tr>
	<% end %>
</table>