
<div id="yui-main">		
	<div style="width:50%">
		<p class="y2">Introduction</p>
		<p>
			Callbreak is an "evasion-type" trick-taking playing card game for four players. A standard deck of 52 playing cards is used. The objective of the game is to have the many points at the completion of the game. The game is usually played in rounds of 5, at the end of which scored are tallied and the highest scorer wins.
		</p>
		<br/>
		<p class="y2">Scoring </p>
		<p>
			After the cards are dealt, all players have to call (predict) how many cards they might win, he can choose to have the cards dealt again.
		</p>
		<br/>
		<p class="y2">Dealing Cards</p>
		<p>
			Thirteen cards are dealt singly in turn to each of the four players. If one player get no trump cards or has no cards higher than 10.
		</p>
		<br/>
		<p class="y2">Calling cards</p>
		<p>
			After dealing the cards, all the players have to call (so the name "callbreak") a number predicting the number of hands they are likely to win. If at the end of the game, the player has won less cards than called, then his points will be subtracted by the called amount. Suppose if a player calls 4 hands, but only manages to win 3, then his score for the round will be -4.
		</p>
		<br/>
		<p class="y2">Playing game</p>
		<p>
			After the points have been called, the player to the left of the dealer starts the game. 
			The first player to play the hand has the choice of all cards. 
				All the other players can only play the following cards: <br/>
				<ul class="list">
					<li >If the player has cards the same suit and higher than the highest card played (assuming no trumps are played), then he has to play it.</li>
					<li>If the player has cards of the same suit, but no cards higher than the one played, he can play any card of the suit.</li>
					<li>If he has no cards of the given suit, he should play a trump card.</li>		
					<li>If another player has already played a trump card and you have no trump card higher than that, then you can play any card.</li>
					<li>If the player doesn't have cards of the same suit and trump cards, then he can play any card. 
				</ul>
		</p>
		<p class="y2">That's it! <a href="/play/get_name">Go Play Now</a></p>	
		
	</div>


</div>
<div id="yui-b">
</div>
