<div id="yui-main">
	<form action="/play/new_game" method="post">
	<span class="y2">
		<p>Please enter your name</p> 
		<p><input type="text" name="player_name"></p>
		<br/>
		
		<%= button_to "Play" %></span>
		<br/>
		don't know how to play? <a href="/play/about"> Learn here.</a>
		

	</form>
</div>
<div id="yui-b">
	<%= render :partial => "top_list"  %>
</div>
