

TOP USER LISTS

<table border="1">
	<tr>
		<td>
			User Name 
		</td>
		<td>
			Difference
		</td>
	</tr>
	<% @users.each do |user|%>
	<tr>
		<td>
			<%= user.name%>
		</td>
		<td>
			<%= user.diff%>
		</td>
	</tr>
	<% end %>
		
	<UserName>
</table>