<html>
<head>
	<%= stylesheet_link_tag "callbreak", "reset", :media => "all" %> 
	<title>Play Callbreak Online</title>
	<meta name="description" content="callbreak is a popular card game, you can play it online here for free">
	<meta name="keywords" content="callbreak, online, free, card game, card, game, cdadar">
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-7566455-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	<%= javascript_include_tag :defaults %>

</head>
<body class="back">
	<div id="doc2" class="yui-t4">
		<div id="hd" class="outside" >
			<span class=" y1"> Callbreak</span>&nbsp;&nbsp; a card game
			<span class="notice">	<%= flash[:notice] %></span>
		</div>
		<div id="bd" class="inside">
			<%= yield %>
		</div>
		<div id="ft" class="outside" >
			<a href="http://www.cdadar.com/2/post/2009/03/callbreak.html">Feedback</a> | <a href="/play/about">About</a> 
		</div>
	</div>
</body>

</html>